<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="HCIP" value="10.0.0.12"/>-->
    <add key="HCIP" value="192.168.1.200"/>
    <add key="HCPort" value="8000"/>
    <add key="HCUserName" value="admin"/>
    <add key="HCPassWord" value="admin12345"/>
    <add key="HCPath" value="C:\Program Files\iVMS-4200 Station\iVMS-4200\iVMS-4200 Client\iVMS-4200.exe"/>

    <add key="HCIP2" value="192.168.1.201"/>
    <add key="HCPort2" value="8000"/>
    <add key="HCUserName2" value="admin"/>
    <add key="HCPassWord2" value="admin12345"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
