<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--海康视频配置-->
    <add key="HCIP" value="192.168.1.200"/>
    <add key="HCPort" value="8000"/>
    <add key="HCUserName" value="admin"/>
    <add key="HCPassWord" value="admin12345"/>
    <add key="HCPath" value="C:\Program Files\iVMS-4200 Station\iVMS-4200\iVMS-4200 Client\iVMS-4200.exe"/>
    
    <!--默认显示的轨道视频索引-->
    <add key="DefaultIndex" value="0"/>

    <!--默认显示的轨道号-->
    <add key="DefaultTrackNum" value="A16道"/>
    
    <!--默认播放视频的轨道号-->
    <add key="PlayTrackNum" value="A16"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
